@{
    ViewBag.Title = "Technologies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .navbar {
        background-color: #349cc9;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-4">
            <div class="text-center mb-4">
                <img src="https://desarrolloweb.com/storage/tag_images/actual/BzOL16MEqsKOe0VThjF6FXPBi0uyK16lkTety9Wz.png" alt="Imagen" class="img-fluid" style="max-height: 200px;">
            </div>
            <p class="lh-lg text-center">
                Soy Wiliam, con experiencia en C# utlizando las herramientas De Microsoft Visual Studio y Visual Studio Code para crear páginas web y proyectos de escritorio.
            </p>
        </div>
        <div class="col-md-6 p-4">
            <div class="text-center mb-4">
                <img src="https://geoinnova.org/wp-content/uploads/2021/08/logos.png" alt="Imagen" class="img-fluid" style="max-height: 200px;">
            </div>
            <p class="lh-lg text-center">
                Soy Wiliam, me apasiona lo que es HTML, CSS y JavaScript. Son muy útiles para crear interfaces atractivas y funcionales.
            </p>
        </div>
        <div class="col-md-6 p-4">
            <div class="text-center mb-4">
                <img src="https://vabadus.es/images/cache/imagen_nodo/images/articulos/5c9deedea0c7e844300455.png" alt="Imagen" class="img-fluid" style="max-height: 200px;">
            </div>
            <p class="lh-lg text-center">
                Soy Wiliam, con experiencia en el uso de Git para el control de versiones en ramas y repositorios para facilitar el manejo de los proyectos.
            </p>

        </div>
        <div class="col-md-6 p-4">
            <div class="text-center mb-4">
                <img src="https://global-uploads.webflow.com/5f5a53e153805db840dae2db/6073fbf151fa4565d48572dc_GitHub_aprender-programaci%25C3%25B3n.jpeg" alt="Imagen" class="img-fluid" style="max-height: 200px;">
            </div>
            <p class="lh-lg text-center">
                Soy Wiliam, con experiencia en el uso de GitHub para trabajar en manera colaborativa y manejo de repositorios, para facilitar el trabajo en equipo.
            </p>
        </div>
    </div>
</div>
<footer class="text-center mt-4">
    <p class="my-bold">2023 Todos los derechos reservados. Wiliam López</p>
</footer>

<style>
    .my-bold {
        font-weight: bold;
    }
</style>