@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row justify-content-center">
        <div class="col-6 p-4">
            <div class="text-center mb-4">
                <img src="~/Content/Img/IMG_20220828_185345.jpg" alt="Imagen" class="img-fluid" style="max-height: 200px; border:ridge;">
            </div>
            <p class="lh-lg text-center">
                Soy Wiliam, un apasionado junior Developer que busca constantemente mejorar mis habilidades en el desarrollo web.
                Especializado en los lenguajes como C#, HTML y JavaScript. Disfruto trabajar en equipo y ayudar en las necesidades o problemas que se presenten.
                Estoy muy interesado en aprender y mejorar en el ámbito de mi carrera.
            </p>
        </div>
    </div>
</div>

<footer class="text-center mt-4">
    <p class="my-bold">2023 Todos los derechos reservados. Wiliam López</p>
</footer>

<style>
    .my-bold {
        font-weight: bold;
    }
</style>
